@media(max-width:1200px){
    html{
        font-size: 15px;
    }
    .banner-text h1 {
        font-size: 3rem;
    }
    .banner-text p {
        font-size: 1.275rem;
    }
    .site-banner {
        height: 600px;
    }
    .tips-text {
        padding: 70px 30px;
    }
    .link-wrap {
        height: 350px;
    }
    .small-wrap {
        height: 280px;
    }
    .sub-banner {
        height: 500px;
    }
}




@media (max-width: 992px){
   

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: auto;
        right: 15px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 20px;
        width: 25px;
        position: absolute;
        top: auto;
        right: 15px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        /* margin-left: -40px; */
        /* padding-left: 40px; */
        transition: transform 0.5s ease-in-out;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow: scroll;
        position: fixed;
        top: 0;
        left: 0;
        width: 350px;
        z-index: 1;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }


    .logo{
        position: absolute;
        left: 15px;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }
    .hotel-img {
        width: 30%;
    }
    .hotel-text {
        width: 70%;
    }
}


@media(max-width:850px){
    .tips-sec .row {
        flex-direction: column;
    }
    .tips-sec .col-md-6{
        width: 100%;
    }
    .tips-img {
        height: 350px;
    }
    .tips-text {
        padding: 20px 10px;
        border: none;
    }
    .site-banner {
        height: 550px;
    }
    .link-wrap {
        height: 350px;
    }
    .about-us .row {
        flex-direction: column-reverse;
    }
    .about-us.contact-us .row {
        flex-direction: column;
    }

    .tranding-left, .tranding-right {
        width: 100%;
    }
    .trading-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .tranding-img {
        height: 300px;
    }
    .tranding-text {
        padding: 20px 20px;
        background-color: #e0f8ff;
    }
    .trading-box-sec{
        flex-direction: column-reverse;
    }
    .tranding-wrap {
        padding: 30px 50px;
    }
    .category h3 {
        font-size: 1.3625rem;
    }
}


@media(max-width:767px){
    .tranding-wrap {
        padding: 30px 10px 0 10px;
    }
    .hotel-img {
        width: 100%;
        height: 300px;
    }
    .hotel-wrap {
        padding: 0px 0;
        flex-direction: column;
        border: 1px solid #ccc;
        margin-bottom: 25px;
    }
    .hotel-text {
        width: 100%;
    }
    .sub-banner .banner-text h1 {
        font-size: 2.2rem;
    }
    .category {
        width: 100%;
    }
}

@media (max-width: 575px){
    html{
        font-size: 14px;
    }
    .navbar .menu-items li {
        margin-bottom: 1rem;
    }
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    .navbar .menu-items {
        width: 100%;
    }
    .logo img {
        max-width: 130px;
    }
    .banner-text h1 {
        font-size: 2.7rem;
    }
    .site-banner {
        height: 500px;
    }
    .tips-img {
        height: 300px;
    }
    .link-wrap {
        height: 300px;
    }
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .tranding-img {
        height: 250px;
    }
    .footer-logo img {
        max-width: 180px;
    }
    .copy-right {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .privacy-wrap {
        padding: 10px 0;
    }
}

@media(max-width:375px){
    .banner-text h1 {
        font-size: 2.5rem;
    }
    .tips-img {
        height: 250px;
    }
    .link-wrap {
        height: 250px;
    }
    .tranding-wrap {
        padding: 20px 0px 0 0px;
    }
    .site-heading h2 {
        font-size: 2.1075rem;
    }
    .tranding-text {
        padding: 15px 15px;
    }
    .site-banner {
        height: 450px;
    }
    .sub-banner .banner-text h1 {
        font-size: 2.01rem;
    }
    .hotel-img {
        height: 250px;
    }
    .top-text {
        padding: 15px;
    }
}